mixin dotted-progress-bar(itemList, blockClassName)
    ul(class=`${blockClassName}-list`)
        each item in itemList
            li(class=`${blockClassName}-list__list-item`)
                div(class=`${blockClassName}-block-dotted`)
                    h3(class=`${blockClassName}-block-dotted__${blockClassName}-title`)=item.title
                    div(class=`${blockClassName}-block-dotted__${blockClassName}-level-block`
                    data-item-level=item.level)
                        - for (var i = 0; i <= 12; i++)
                            if i > item.level
                                i(class=`${blockClassName}-level-unit`) *
                            else
                                i(class=`${blockClassName}-level-unit`) #