mixin solid-progress-bar(itemsList, blockClassName)
    ul(class=`${blockClassName}-list`)
        each item in itemsList
            li(class=`${blockClassName}-list__list-item`)
                div(class=`${blockClassName}-block-solid`)
                    h3(class=`${blockClassName}-block-solid__block-title`)=item.title
                    div(class=`${blockClassName}-block-solid__${blockClassName}-level-block`
                    data-skill-level-solid=item.level)
